
Conversation opened. 1 unread message.

Skip to content
Using Academic Enterprise Solutions (AES) Mail with screen readers

1 of 2,593
Fwd: Vue.js
Inbox

49_ Prithvinaths <prithvinaths2025@mca.ajce.in>
Attachments
3:04 PM (0 minutes ago)
to rmca2025



---------- Forwarded message ---------
From: Dr. Shelly Shiju George <shellyshijugeorge@amaljyothi.ac.in>
Date: Tue, Jan 28, 2025 at 2:46 PM
Subject: Fwd: Vue.js
To: prithvinaths2025@mca.ajce.in <prithvinaths2025@mca.ajce.in>



---------- Forwarded message ---------
From: Dr. Shelly Shiju George <shellyshijugeorge@amaljyothi.ac.in>
Date: Tue, 28 Jan, 2025, 12:15 pm
Subject: Vue.js
To: Dr. Shelly Shiju George <shellyshijugeorge@amaljyothi.ac.in>


PFA



--
Thanks And Regards,

Dr. Shelly Shiju George
Assistant Professor
Dept. Of Computer Applications
Amal Jyothi College Of Engg.
Koovapally, Kanjirapally


Disclaimer:
"The information contained herein (including any accompanying documents) is confidential and is intended solely for the addressee(s). If you have erroneously received this message, please immediately delete it and notify the sender. Also, if you are not the intended recipient, you are hereby notified that any disclosure, copying, distribution or taking any action in reliance on the contents of this message or any accompanying document is strictly prohibited and is unlawful. The organization is not responsible for any damage caused by a virus or alteration of the e-mail by a third party or otherwise. Email security protocols used DMARC, SPF and DKIM
Amal Jyothi College of Engineering Autonomous, Kanjirappally, Kottayam, Kerala, India - 686518
 6 Attachments
  •  Scanned by Gmail
<!DOCTYPE html>
<html>
<head>
    <title>Vue.js Addition Example</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>
<body>

<div id="app">
    <h1>Addition with Vue.js</h1>
    <label for="num1">Enter Number 1: </label>
    <input type="number" v-model="num1">
    <br>
    <label for="num2">Enter Number 2: </label>
    <input type="number" v-model="num2">
    <br>
    <button @click="calculateSum">Calculate Sum</button>
    <p v-if="sum !== null">Sum: {{ sum }}</p>
</div>

<script>
    new Vue({
        el: '#app',
        data: {
            num1: 0,
            num2: 0,
            sum: null
        },
        methods: {
            calculateSum: function() {
                this.sum = parseFloat(this.num1) + parseFloat(this.num2);
            }
        }
    });
</script>

</body>
</html>
add.html
Displaying add.html.