body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(22, 100, 69);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #582a89;
    border-bottom: 1px solid #a1356b;
}

h1 {
    margin: 0;
    color: #ddd;
}

.back-button {
    text-decoration: none;
}

.back-button img {
    width: 30px; /* Adjust size as needed */
    height: auto;
}

.properties-list {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

.property-item {
    width: calc(33.333% - 40px); /* 3 items per row */
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
    background-color: #fff;
    transition: box-shadow 0.3s;
}

.property-item:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.property-image {
    width: 100%;
    height: 200px; /* Adjust height as needed */
    object-fit: cover;
}

h2 {
    margin: 10px 0;
    font-size: 1.5em;
}

p {
    padding: 0 10px 20px;
    color: #241e1e;
}

.property-item h2 {
    padding: 0 10px;
    font-size: 1.25em;
    font-weight: bold;
}

.property-item a {
    text-decoration: none;
    color: inherit;
}

.property-item a:hover h2 {
    color: #007BFF;
}

.property-item a:hover p {
    color: #007BFF;
}

/* Responsive Design */
@media (max-width: 1200px) {
    .property-item {
        width: calc(50% - 40px); /* 2 items per row */
    }
}

@media (max-width: 768px) {
    .property-item {
        width: calc(100% - 40px); /* 1 item per row */
    }
}

/* Adjusting for different screen sizes */
@media (max-width: 600px) {
    .header {
        flex-direction: column;
        text-align: center;
    }
    
    .header h1 {
        margin-bottom: 10px;
    }

    .back-button img {
        width: 25px; /* Adjust size for smaller screens */
    }

    .property-image {
        height: 150px; /* Adjust image size for smaller screens */
    }

    .property-item h2 {
        font-size: 1.1em; /* Adjust font size for smaller screens */
    }

    p {
        font-size: 0.9em;
    }
}