body {
    font-family: Arial, sans-serif;
    background-color: #e7d1dc;
    margin: 0;
    padding: 0;
    background-image: url('https://media.gettyimages.com/id/1032720212/photo/modern-house-with-private-swimming-pool.jpg?s=612x612&w=0&k=20&c=bZdjYn56IjRAx1kx_eFNAhti-H7cSkNuEHhGBB3mfAg=');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;


}

.container {
    width: 50%;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-size: 1rem;
    color: #333;
    display: block;
    margin-bottom: 5px;
}

input[type="text"], 
input[type="number"], 
textarea, 
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

textarea {
    resize: vertical;
}

input[type="file"] {
    padding: 5px;
}

.submit-btn {
    display: block;
    width: 100%;
    padding: 12px;
    background-color: #28a745;
    color: #fff;
    font-size: 1rem;
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-btn:hover {
    background-color: #218838;
}

@media (max-width: 100px) {
    .container {
        width: 90%;
    }
}
