{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Owner Details</title>
    <link rel="stylesheet" href="{% static 'css/details.css' %}">
</head>
<body>
    <a href="javascript:history.back()" class="back-button">← Back</a>
    <div class="container">
        <h1>Owner Details for Property: {{ property.property_name }}</h1>

        <p><strong>Property Address:</strong> {{ property.address }}</p>
        <p><strong>Owner Name:</strong> {{ property.owner.name }}</p>
        <div class="icon-container">
            <i class="fas fa-phone"></i>
            <p><strong>Owner Phone Number:</strong> {{ property.owner.phone }}</p>
        </div>

        <div class="icon-container">
            <i class="fas fa-envelope"></i>
            <p><strong>Owner Email:</strong> {{ property.owner.email }}</p>
        </div>
    </div>
</body>
</html>

